body {
  font-family: "Helvetica", sans-serif;
}

h1,
h2,
h3, {
  font-weight: bold;
}

.header{
  position: relative;
  background-image: url('./Images/the-flatiron-building.png');
  text-align: center;
  color: white;
}

.list {
  font-size: 18px;
  color: white;
}

.Font {
  font-size: 23px;
  font-weight: bold;
}

.Middle{
  text-align: center;
}

.Ending{
  text-align: center;
}
